<div class="container">
  <p-card  [style]="{width: 'px'}" styleClass="ui-card-shadow">
     <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
    <div class="ui-g">
        <div class="ui-g-12">
          <h2>Tipo de Verificador</h2>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label style="display: block">Código: </label>
          <input type="text" pInputText style="width: 50px" />
        </div>
        <div class="ui-g-12 ui-fluid">
          <label style="display: block">Tipo de Verificador: </label>
          <input type="text" pInputText  />
        </div>

        <div class="ui-g-3 ui-fluid ">
        <label style="display: block">Quantidade de Niveis: </label><br />
          <div class="ui-g" style="width:250px;margin-bottom:10px">
              <div class="ui-g-12"><p-radioButton name="group1" value="Option 1" label="1"  inputId="opt1"></p-radioButton></div>
              <div class="ui-g-12"><p-radioButton name="group1" value="Option 2" label="2"  inputId="opt2"></p-radioButton></div>
              <div class="ui-g-12"><p-radioButton name="group1" value="Option 3" label="3"  inputId="opt3"></p-radioButton></div>
              <div class="ui-g-12"><p-radioButton name="group1" value="Option 2" label="4"  inputId="opt4"></p-radioButton></div>
              <div class="ui-g-12"><p-radioButton name="group1" value="Option 3" label="5"  inputId="opt5"></p-radioButton></div>
          </div>
        </div>

        <div class="ui-g-9 ui-fluid">
          <label style="display: block">Definições para: </label><br />
          <label style="display: block">Nível 1: </label>
          <input type="text" pInputText />
          <label style="display: block">Nível 2: </label>
          <input type="text" pInputText />
          <label style="display: block">Nível 3:</label>
          <input type="text" pInputText />
          <label style="display: block">Nível 4:</label>
          <input type="text" pInputText />
          <label style="display: block">Nível 5:</label>
          <input type="text" pInputText />
        </div>



        <div class="ui-g-10">

        </div>
        <div class="ui-g-2 ui-fluid">
          <br />
        <button pButton type="button" label="Salvar" class="ui-button-raised ui-button-success"></button>
        </div>
    </div>
    </form>
    <div class="ui-g">
        <div class="ui-g-12">
          <form  autocomplete="off" (ngSubmit)="pesquisar()">
            <div class="ui-g-12 ui-fluid">
                <label style="display: block">Pesquisar Tipo de Verificador: </label>
                <input type="text" pInputText name="nmTipoVerificador" [(ngModel)]="filtro.nmTipoVerificador">
              </div>
        </form>
        </div>
      </div>

    <div class="ui-g">
        <div class="ui-g-12">


                <p-table [value]="cadtipodeverificador" [paginator]="true" [rows]="filtro.size"  [responsive]="true"
                [lazy]="true" [totalRecords]="tatalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>

                <ng-template pTemplate="header">
                  <tr>
                    <th style=" width: 70px">Código</th>
                    <th>Tipo Verificador</th>
                    <th style=" width: 100px">Qtd. Níveis</th>
                    <th style=" width: 100px"> Nível 1</th>
                    <th style=" width: 100px">Nível 2</th>
                    <th style=" width: 100px">Nível 3</th>
                    <th style=" width: 100px">Nível 4</th>
                    <th style=" width: 100px">Nível 5</th>
                    <th style=" width: 140px"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tipodeverificador>
                  <tr>
                    <th>{{tipodeverificador.cdTipoVerificador}}</th>
                    <th style="text-align: left">{{tipodeverificador.nmTipoVerificador}}</th>
                    <th>{{tipodeverificador.nrniveis}}</th>
                    <th>{{tipodeverificador.rotulonivel1}}</th>
                    <th>{{tipodeverificador.rotulonivel2}}</th>
                    <th>{{tipodeverificador.rotulonivel3}}</th>
                    <th>{{tipodeverificador.rotulonivel4}}</th>
                    <th>{{tipodeverificador.rotulonivel5}}</th>
                    <th>
                        <a pButton icon="pi pi-pencil" pTooltip="Editar Tipo de Verificador" tooltipPosition="top"></a>
                        <button pButton icon="pi pi-trash" style="margin-left: 10px" pTooltip="Excluir Tipo de Verificador" tooltipPosition="top"></button>
                    </th>
                  </tr>
                </ng-template>
              </p-table>

        </div>
    </div>


  </p-card>
  </div>





